#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-rpath --without-libcap \
		--enable-pinentry-curses \
		--disable-pinentry-qt --enable-pinentry-qt4 \
		--disable-pinentry-gtk --enable-pinentry-gtk2

override_dh_installdocs:
	dh_installdocs -A NEWS AUTHORS

LDFLAGS += -Wl,--as-needed


override_dh_auto_build: qt4/pinentryconfirm.moc qt4/pinentrydialog.moc qt4/qsecurelineedit.moc
	dh_auto_build

# I guess you're supposed to do this manually, per upstream: 
# <http://lists.gnupg.org/pipermail/gnupg-devel/2009-June/025197.html> 
# --petere@d.o
%.moc: %.h
	moc-qt4 $< >$@
