#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-rpath --without-libcap \
		--enable-pinentry-tty \
		--enable-pinentry-curses \
		--enable-pinentry-qt4 \
		--enable-pinentry-gtk2 \
		--enable-pinentry-qt4-clipboard

override_dh_installdocs:
	dh_installdocs -A NEWS AUTHORS

LDFLAGS += -Wl,--as-needed
